body {
    background-image: url(images/fundo.png);
    font: 16px Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    color: #4b566a;
    text-decoration: none;
    font-weight: bold;
    padding: 5px;
}

h1 {
    color: rgb(175, 175, 162);
}

main {
    padding: 10px;
    background: #fdfefe;
}

.container {
    width: 900px;
    height: 700px;
    display: flex;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.212);
}

.navegacao {
    background: #c5c5b2;
    padding: 18px;
}

.rodape {
    text-align: center;
}